<%= form_for(@lease, :url => new_lease_path) do |f| %>
  <% if @lease.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lease.errors.count, "error") %> prohibited this lease from being saved:</h2>

      <ul>
      <% @lease.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :tenant_id, :value => @current_user.id %>
    

  <div class="field">
    <%= f.label :agent_id %><br>
    <%= f.select :agent_id, Agent.all.map { |a| [a.first_name + " " + a.last_name, a.id] }, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :address_street %><br>
    <%= f.text_field :address_street %>
  </div>
  <div class="field">
    <%= f.label :address_suburb %><br>
    <%= f.text_field :address_suburb %>
  </div>
  <div class="field">
    <%= f.label :address_postcode %><br>
    <%= f.number_field :address_postcode %>
  </div>
  <div class="field">
    <%= f.label :address_state %><br>
    <%= f.text_field :address_state %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>

  <% if params[:type] == 'new' %>
    <%= f.hidden_field :currently_active, :value => true %>
    <%= form_for(@last_lease) do |l| %>
    <div class="spacer20"></div>
      <h5> When did your lease at <%= @last_lease.address_street %> finish?</h5>
      <div class="field">
        <%= l.date_select :end_date %>
      </div>
        <%= l.hidden_field :currently_active, :value => false %>
    <% end %>

  <% else %>
    <%= f.hidden_field :currently_active, :value => false %>
    <div class="field">
      <%= f.label :end_date %><br>
      <%= f.date_select :end_date %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
