<h1>Your lease history</h1>

<ul class="tmtimeline">
  <li>
    <time class="tmtime"></time>
    <div class="tmicon"><i class="fa fa-home"></i></div>
    <div class="tmlabel">
      <h5>Add new lease</h5>
      <p>dskjglfk</p>
    </div>
  </li>
<% @current_user.leases.each do |lease| %>
  <li>
    <time class="tmtime"><span>From <%= lease.start_date.strftime '%b %Y' %></span> <span>To <%= lease.end_date.strftime '%b %Y' %></span></time>
    <div class="tmicon"><i class="fa fa-home"></i></div>
    <div class="tmlabel">
      <h5><%= lease.address_street %>. <%= lease.address_suburb %>, <%= lease.address_state %></h5>
      <p>Lease period: <%= lease.start_date.strftime '%b %Y' %> to <%= lease.end_date.strftime '%b %Y' %></p>
    </div>
  </li>
<% end %>
  <li>
    <time class="tmtime"></time>
    <div class="tmicon"><i class="fa fa-home"></i></div>
    <div class="tmlabel">
      <h5>Add your past leases</h5>
      <p>dskjglfk</p>
    </div>
  </li>
</ul>
