
  <p id="notice"><%= notice %></p>
  <h1>Listing Outgoing Ratings</h1>


<table>
  <thead>
    <tr>
      <th>Lease ID</th>
      <th>Rent amount</th>
      <th>Rent frequency</th>
      <th>Rent arrears</th>
      <th>Rent arrears remedied</th>
      <th>Nrt received</th>
      <th>Nrt reason</th>
      <th>Inspection periodic</th>
      <th>Inspection clean</th>
      <th>Inspection pets</th>
      <th>Inspection dammage</th>
      <th>Inspection dammage comment</th>
      <th>Neighbor complaints</th>
      <th>Neighbor complaints comment</th>
      <th>Bond refunded</th>
      <th>Bond refunded comment</th>
      <th>Tenancy terminated</th>
      <th>Tenancy terminated by</th>
      <th>Tenancy terminated comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @outgoing_ratings.each do |outgoing_rating| %>
      <tr>
        <td><%= outgoing_rating.lease_id %></td>
        <td><%= outgoing_rating.rent_amount %></td>
        <td><%= outgoing_rating.rent_frequency %></td>
        <td><%= outgoing_rating.rent_arrears %></td>
        <td><%= outgoing_rating.rent_arrears_remedied %></td>
        <td><%= outgoing_rating.nrt_received %></td>
        <td><%= outgoing_rating.nrt_reason %></td>
        <td><%= outgoing_rating.inspection_periodic %></td>
        <td><%= outgoing_rating.inspection_clean %></td>
        <td><%= outgoing_rating.inspection_pets %></td>
        <td><%= outgoing_rating.inspection_dammage %></td>
        <td><%= outgoing_rating.inspection_dammage_comment %></td>
        <td><%= outgoing_rating.neighbor_complaints %></td>
        <td><%= outgoing_rating.neighbor_complaints_comment %></td>
        <td><%= outgoing_rating.bond_refunded %></td>
        <td><%= outgoing_rating.bond_refunded_comment %></td>
        <td><%= outgoing_rating.tenancy_terminated %></td>
        <td><%= outgoing_rating.tenancy_terminated_by %></td>
        <td><%= outgoing_rating.tenancy_terminated_comment %></td>
        <td>
          <%= link_to 'Show', outgoing_rating, :class => 'button button-small' %>
          <%= link_to 'Edit', edit_outgoing_rating_path(outgoing_rating), :class => 'button button-small' %>
          <%= link_to 'Destroy', outgoing_rating, method: :delete, data: { confirm: 'Are you sure?' }, :class => 'button button-black button-small' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Outgoing rating', new_outgoing_rating_path, :class => 'button' %>

